  /**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style-type: none;
    }

    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }

    body {
    margin: 0;
  	font-size: 14px;
    min-height: 100vh;
    font-family:  "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
	height: 64px;
	background-color: rgba(0,46,81,100); 
    display: fixed;
}

.home{
    background: url("pictures/3Boats.jpg");
    background-size: cover;
    height: 100vh;
}
.addPortID {
    margin-top: 44px;
    float: left; 
    width: 470px;
}
.latestCalls {
    margin-top: 44px;
    float: right;
    width: 470px;
    height: 600px;
    
}
.listOfvesselID{
    overflow: auto;
    height: 599px;
}

.portCall{
    background: url("pictures/boatBG.jpg");
    background-size: cover;
}
.center {
    display: block;
    margin: 0 auto;
    width: 940px;
    overflow: hidden;
}

.centerBig {
    display: block;
    margin: 0 auto;
    width: 1240px;
    overflow: hidden;
}


.listOfPCM {
      width: 470px;
      float: right;
      margin-top: 32px;
      margin-right: 25px;
}
.allInfo {
      width: 470px;
      height: 600px;
      float: right;
      margin-top: 32px;
}
.boatName {
    text-align:center;
    text-shadow: 0px 2px 27px rgba(0,0,0, 0.12);
    letter-spacing: 12px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 32px;

}

h1 {
    font-family: helvetica;
    font-size: 34px;
}

h2 {
    text-align:center;
    display: inline;
    font-family: helvetica;
    font-size: 31px;

    margin-top: 44px;
}
h3 {   
    font-weight: bold;
    font-family: helvetica;
    font-size: 18px;

}

h3 {
    font-family: helvetica;
    font-size: 22px;
    font-weight: bold;
}
h4 {
    display: block;
    font-family: helvetica;
    font-size: 31px;
    font-weight: bold;
    margin-top: 44px;
}
h5 {
    font-family: helvetica;
    font-size: 16px;
    font-stretch: 30;
    font-weight: bold;
    margin-top: 34px;
}
p {
    margin-top: 8px;
}



.menue {
    padding-top: 24px;
}

a {
    text-decoration: none;
    font-style: normal;
    color: #00B7FF;
}

.DASHBOARD {
    margin-left: 5px;
    margin-bottom: 5px;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-family: helvetica;
    font-weight: 200;
    font-size: 31px;
}

.DASHBOARD2 {
    margin-bottom: 5px;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-family: helvetica;
    font-weight: 200;
    font-size: 31px;
    float: right;
}

.icons{
    content:url("pictures/DashBoard.svg");
    float: left;
}

.icons2{
    content:url("pictures/Ship.svg");
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: -5px;
}
.iconsChalmers {
    margin-top: 24px;
    content:url("pictures/Chalmers.png");
    float: right;

}

.contact {
    float: left;
}

.contactRigth {
    float: right;
}
.PCM{
    height: 250px;
    width: 470px;
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
    float: right;
    padding-left: -10px;
}
.latestPCMContainer {
    height: 300px;

}
.latestPCM {
    height: 467px;
    overflow: auto; 
    width: 460px;
    
    background-color: rgba(233, 233, 233, .5);
    border-radius: 5px;
    padding-top: 5px;
    float: left;
    margin-bottom: 8px;
 }

.MSG{
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 16px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .5);
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgba(233, 233, 233, .9);
}

.p{
    display: block;
    width: 940px;
    height: 300px;
}

ul {
    margin-top: 10px; 
}
.allOperations{
    margin-top: 32px;
    width:240px;
    float: left;
    border-radius: 5px;
    margin-bottom: 8px;
    border-radius: 5px;
}
.containerOperations {
    border-radius: 5px;
    background-color: rgba(245, 245, 245, .9);
}
.operation {
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 8px;
}
#operationsh2 {
    margin-left: 7px;
}
#notesh2 {
    margin-left: 8px;
}

input {
    border-width: 1px;
    border-color: black;
}

#submitButton {
    margin-top: 5px;
}

select {
    border-width: 1px;
    border-color: black;
}


.vesselID {
margin-top: 10px;
margin-right: 5px;

}
footer {
    display: block;
    background: #F3F3F3;
    height: 150px;
}
.blueLine{
    height: 8px;
    width: 100%;
    background-color: rgba(0,46,81,100); 
    
}
.gitLink {
    margin-top: 8px;
    float: left;
    color: black;
}
.inconsWheel{
    content:url("pictures/wheel.svg");
    margin-right: 384px;
    margin-top: 34px;
    float: right;
}

.deletePortcall {
    color: black;
}

.notesContainer {
    margin-left: 10px;
    overflow: auto; 
    height: 250px;
}