extends layout

block content
	h1 Vessels
	ul
	each val in portCalls
		li 
			a(href='/' + val.id)= val.vessel.name

	h1 PORTCDM SUBMIT
	form(class="firstForm")
		label(for"P_id") PortCallID
		br
		input(type="number", name="portCallId", id="P_id") 
		br
		label(for"state") State
		br
		input(type="text", id="state") 
		br
		label(for"time_type") Timetype
		br
		select(, name="timeType", id="time_type")
			option(value="ETA") ETA
			option(value="ATA") ATA
		br
		label(for"time_") Time
		br
		input(type="time", name="time", id="time_")
		br
		input(type="submit", name="submit", id="submitButton")
