extends layout

block content 			
	div(class='home')
		div(class='center')
			div(class='addPortID')
				h1 Port calls
				if portCalls.length == 0
					p There are currently no portcalls
				else
					ul
					each val in portCalls
						li 
							a(href='/' + val.portcallid) #{val.portcallid}
							br
							a(href='#', class='deletePortcall', data-id=val.portcallid) Delete

				h2 Add a new port call
				form(action='/', method='POST')
					label(for='pid') Port call id
					br
					input(type='text', name='pid') 
					br
					input(type='submit', name="submit", id='submitButton')

			div(class='latestCalls')
				h1 30 Latest PortCalls
				if portCalls30.length == 0
					p There are currently no portcalls
				else
					ul
						each val in portCalls30
							li(class='vesselID') 
								h3 #{val.vessel.name}
								| #{val.id}
					
						

						

						

						 
						

