doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://code.jquery.com/jquery-1.12.4.js", integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=", crossorigin="anonymous")
		script(src='/javascripts/script.js')
	body
		header
			div(class='center')
				div(class='menue')
					a(href='/' class='DASHBOARD') SILJALINE
						img(class='icons') 		
					a(href='https://dev.portcdm.eu/port/home', class='DASHBOARD2') PORTCDM
						img(class='icons2')
		block content
